<div id="sidebar">
  <h1 class="title">區議會文件<br />搜尋器</h1>
  <form id="search_form" method="GET">
    <fieldset>
      <legend>關鍵字</legend>
      <input id="keyword" name="keyword" type="text" />
    </fieldset>
    <fieldset>
      <legend>地區</legend>
      <ul id="districtList" class="checkboxList">
        <li>
          <div>
            <input id="tm" name="district" type="checkbox" value="tm" /><label
              for="tm"
              >屯門</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="yl" name="district" type="checkbox" value="yl" /><label
              for="yl"
              >元朗</label
            >
          </div>
        </li>
        <li>
          <div>
            <input
              id="island"
              name="district"
              type="checkbox"
              value="island"
            /><label for="island">中西區</label>
          </div>
        </li>
        <li>
          <div>
            <input id="ytm" name="district" type="checkbox" value="ytm" /><label
              for="ytm"
              >油尖旺</label
            >
          </div>
        </li>
        <li>
          <div>
            <input
              id="south"
              name="district"
              type="checkbox"
              value="south"
            /><label for="south">南區</label>
          </div>
        </li>
        <li>
          <div>
            <input id="kt" name="district" type="checkbox" value="kt" /><label
              for="kt"
              >觀塘</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="wts" name="district" type="checkbox" value="wts" /><label
              for="wts"
              >黃大仙</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="ssp" name="district" type="checkbox" value="ssp" /><label
              for="ssp"
              >深水埗</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="st" name="district" type="checkbox" value="st" /><label
              for="st"
              >沙田</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="tp" name="district" type="checkbox" value="tp" /><label
              for="tp"
              >大埔</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="tw" name="district" type="checkbox" value="tw" /><label
              for="tw"
              >tw</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="wc" name="district" type="checkbox" value="wc" /><label
              for="wc"
              >wc</label
            >
          </div>
        </li>
        <li>
          <div>
            <input
              id="east"
              name="district"
              type="checkbox"
              value="east"
            /><label for="east">east</label>
          </div>
        </li>
        <li>
          <div>
            <input id="kc" name="district" type="checkbox" value="kc" /><label
              for="kc"
              >kc</label
            >
          </div>
        </li>
        <li>
          <div>
            <input
              id="north"
              name="district"
              type="checkbox"
              value="north"
            /><label for="north">north</label>
          </div>
        </li>
        <li>
          <div>
            <input id="kwt" name="district" type="checkbox" value="kwt" /><label
              for="kwt"
              >kwt</label
            >
          </div>
        </li>
        <li>
          <div>
            <input id="sk" name="district" type="checkbox" value="sk" /><label
              for="sk"
              >sk</label
            >
          </div>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>會議類別</legend>
      <ul id="meeting_type" class="checkboxList">
        <li>
          <div>
            <input
              id="full_council"
              name="meeting_type"
              type="checkbox"
              value="full_council"
            /><label for="full_council">區議會大會</label>
          </div>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>年份</legend>
      <ul id="year" class="checkboxList">
        {% for year in range(start_year, end_year + 1) %}
        <li>
          <div>
            <input
              id="year_{{ year }}"
              name="year"
              type="checkbox"
              value="{{ year }}"
            /><label for="year_{{ year }}">{{ year }}</label>
          </div>
        </li>
        {% endfor %}
      </ul>
    </fieldset>
    <input id="submitBtn" type="submit" value="搜索" />
  </form>
</div>

<style>
  div#sidebar .title {
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    text-align: left;
    font-weight: 900;
    margin: 0;
    margin-bottom: 92px;
  }
  div#sidebar input#keyword {
    width: 234px;
    border: none;
    border-bottom: 1px solid #707070;
    opacity: 1;
    font: 17px/25px Noto Sans HK;
  }
  div#sidebar fieldset {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 55px;
  }
  div#sidebar legend {
    text-align: left;
    font: Bold 25px/37px Noto Sans HK;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 0;
    margin-bottom: 25px;
  }
  div#sidebar ul.checkboxList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  div#sidebar ul.checkboxList > li {
    margin-bottom: 13px;
  }
  div#sidebar ul.checkboxList > li > div {
    display: table-cell;
    vertical-align: middle;
  }
  div#sidebar input[type="checkbox"] {
    margin: 0;
    margin-right: 12px;
  }
  div#sidebar input[type="checkbox"] ~ label {
    text-align: left;
    font: 16px/24px Noto Sans HK;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
  }
  div#sidebar input#submitBtn {
    width: 235px;
    height: 57px;
    border-radius: 41px;
    opacity: 1;
    background: lightblue 0% 0% no-repeat padding-box;
    font: 17px/25px Noto Sans HK;
    letter-spacing: 0;
    color: #ffffff;
    -webkit-appearance: button;
  }
  div#sidebar input#submitBtn:disabled {
    background: #d0d0d0 0% 0% no-repeat padding-box;
  }
</style>
