<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,500,700,900&display=swap&subset=chinese-hongkong"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      html,
      body {
        font-family: "Noto Sans HK", sans-serif;
      }
    </style>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="pageContainer">
      {% block body %}{% endblock %}
    </div>
    <div class="footer">
      {% include "component/footer.html" %}
    </div>
    <style>
      div.pageContainer {
        margin: 0 auto;
        max-width: 1920px;
        padding-bottom: 98px;
      }
      div.footer {
        width: 100%;
        height: 98px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </body>
</html>
